*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  max-width: auto;
  margin: 0 auto;
}

header{
  background-color: transparent;
  padding: 20px;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 60vh;
  position: fixed; /* Torna o cabeçalho fixo */
  width: 100%; /* Ocupa a largura total da tela */
}

/* Estilo para o header quando é rolado para baixo */
header.scrolled {
  background-color: #cecece; /* Cor de fundo desejada quando o header está fixo */
  position: fixed; /* Torna o cabeçalho fixo no topo */
  width: 100%; /* Ocupa a largura total da tela */
  top: 0; /* Fixa o cabeçalho no topo */
  left: 0;
  z-index: 100; /* Certifique-se de que o header esteja à frente de outros elementos */
}

header span{
  color: #fff;
}
header h1{
  color: #d30015;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* header navegação primaria */
header .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Estilo padrão para os links de navegação no header */
header .nav-list li a {
  color: #808080;
  font-size: 20px;
  transition: all 0.5s ease; /* Adicione uma transição suave para todas as propriedades */
  transform-origin: center; /* Defina o ponto de origem da transformação como o centro */
}

/* Aplicar um efeito de escala (zoom) suave quando o mouse passar por cima */
header .nav-list li a:hover {
  color: #ffffff; /* Altere a cor do texto quando o mouse passar por cima, se desejado */
}

/* section main*/
.section-main {
  display: grid;
  justify-content:center;
  align-items: center;
  padding: 10px;
  background-image: url(images/fundo3.jpg); /* Sua imagem de fundo */
  height: 100vh; /* Altura da seção igual à altura da tela */
  background-size: cover; /* Ajusta a imagem de fundo para cobrir a seção */
  background-repeat: no-repeat;
}

.section-main div{
  align-self: center;
}

.section-main div h2{
  font-family: 'Poppins';
  font-weight: 600;
  color: #ffffff;
}

.section-main div p{
  font-family: 'Poppins';
  font-weight: 200;
  color: #800000;
}

.section-main div a {
  display: block;
  color: #880acc;
  padding: 15px;
  border-radius: 5px 5px;
  border: 2px solid white;
}

/* section sobremim*/
.sobremim {
  background-color: rgb(189, 189, 189);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.sobremim div{
  margin-top: 120px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.sobremim div h2{
  font-family: 'Poppins';
  font-weight: 600;
  color: #a4006d;
}

.sobremim div p{
  font-family: 'Poppins';
  font-weight: 200;
  color: #000000;
}

.sobremim div a {
  justify-self: start;
  color: #000000;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid rgb(0, 174, 255);
}

.sobremim img {
  max-width: 100%;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 32px;
  height: 4px;
  background: #808080;
  margin: 4px 0;
}
