*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  max-width: auto;
  margin: 0 auto;
}

header{
  background-color: transparent;
  padding: 20px;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 60vh;
  position: fixed; /* Torna o cabeçalho fixo */
  width: 100%; /* Ocupa a largura total da tela */
}
header span{
  color: #fff;
}
header h1{
  color: #d30015;
  font-size: 1.5rem;
  margin-right: 10px;
}

/* header navegação primaria */
header .navegacao-primaria {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  align-items: center;
}

header .navegacao-primaria li a {
  color: #808080;
  font-size: 1.3rem;
}

/* section main*/
.section-main {
  display: grid;
  justify-content:center;
  align-items: center;
  padding: 10px;
  background-image: url(images/fundo3.jpg); /* Sua imagem de fundo */
  height: 100vh; /* Altura da seção igual à altura da tela */
  background-size: cover; /* Ajusta a imagem de fundo para cobrir a seção */
  background-repeat: no-repeat;
}

.section-main div{
  align-self: center;
}

.section-main div h2{
  font-family: 'Poppins';
  font-weight: 600;
  color: #ffffff;
}

.section-main div p{
  font-family: 'Poppins';
  font-weight: 200;
  color: #800000;
}

.section-main div a {
  display: block;
  color: #880acc;
  padding: 15px;
  border-radius: 5px 5px;
  border: 2px solid white;
}

/* section sobremim*/
.sobremim {
  background-color: rgb(189, 189, 189);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.sobremim div{
  margin-top: 120px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.sobremim div h2{
  font-family: 'Poppins';
  font-weight: 600;
  color: #a4006d;
}

.sobremim div p{
  font-family: 'Poppins';
  font-weight: 200;
  color: #000000;
}

.sobremim div a {
  justify-self: start;
  color: #000000;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid rgb(0, 174, 255);
}

.sobremim img {
  max-width: 100%;
}